.career-content-container{
  margin: 100px 100px 0px 100px;
  padding: 20px;
  background-color: #f8f9fa; /* Light background for readability */
  color: #343a40; /* Dark gray for professional look */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
}

.fade-in{
  opacity: 0; /* Start hidden */
  transform: translateY(20px); /* Start slightly lower */
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out; /* Transition for both opacity and position */
}

.section {
  margin-top: 50px;
}

.fade-in.loaded {
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Return to original position */
}

.section-text-area h2{
  color: black;
  font-size: 45px;
}
.section-text-area p{
  color: black;
  font-size: 20px;
}
